*{
    margin: 0;
    padding: 0;
}
/*-----------------------------------------------------------------*/


/*    home page   */
/*-----------------------------------------------------------------*/
main{
    
    height: 772px;
    background-image: url(../img/home.jpg);
    background-size: cover;
}
.main_overlay{
    position: absolute;
    height: 772px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
}
/*-----------------------------------------------------------------*/

h1{
    position: absolute;
    top: 18px;
    left: 100px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*-----------------------------------------------------------------*/
nav{
    position: absolute;
    left: 800px;
    top: 20px;
    width: 500px;
    height: 44px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(56, 68, 103);
    border-radius: 20px;
}
.nav_ul{
    width: 100%;
    list-style: none;
    float: left;
    text-align: center;
}
.nav_li{
    display: inline-block;
    padding: 14px;
}
.nav_li a{
    display: block;
    text-decoration: none;
    color:rgb(56, 68, 103);
    padding: 0 10px;
    transition: 0.5s;
}
.nav_li a:hover{
    color: white;
    background-color: rgb(56, 68, 103);
    border-radius: 30px;
}
/*-----------------------------------------------------------------*/
.home_des{
    width: 800px;
    height: 800px;
    position: absolute;
    color:white;
    margin: 50% 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 5px;
}
.des_title{
    font-size: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.des_test{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*-----------------------------------------------------------------*/
.home_enmation{
    position: absolute;
    transform: translate(-50% -50%);
    top: 65%;
    left: 0;
    height: 60px;
    width: 300px;
    background-color: rgb(56, 68, 103);
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    box-shadow: 5n px 0 10px 10px white;
    animation-name: transfer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.enmation_text{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
@keyframes transfer{
    0%{
        left: 100%
    }
    50%{
        left: 10%;
    }
    100%{
        
        left: -40%;
    }
}
/*-----------------------------------------------------------------*/



div{
    height: 200px;
    width: 200px;
}